*, *:before, *:after {
  box-sizing: border-box;
}
body {  
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  color: black;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

header#app-header {
  position: absolute;  
  width: 100%;
  color: white;
  background: black;
  background-size: contain;
  box-shadow: 0 5px 5px rgba(0,0,0,0.16);
  h1 {
    display: inline-block;
    padding: 0 20px;
    font-size: 1.2em;
    font-weight: normal;
  }
  a {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    &.active,
    &:hover {
      background-color: #0085F3;
    }
  }
  .menu {
    display: inline;
    list-style: none;
  }
  .menu li {
    display: inline;
  }
  .menu button {
    color: gray;
    font-weight: bold;
  }  
  .menu .button-active {
    color: white;
    border: 0;
    border-bottom: 0.5em solid white;
  }
}

#container {  
  padding-top: 3em;
  width: 99%;
}

/*
.box {
  display: default;
  position: relative;
  float: left;  
  min-height: 20em;
  background-color: white;
  list-style: none;
  margin: 1em;  
  padding: 1em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
}
*/

aside#container-aside {
  width: auto;
  min-height: 50em;
  display: default;
  position: relative;
  float: left;
  margin-top: 1em;
  padding: 0.75em;
  background-color: white;
  list-style: none;  
  box-shadow: 0 1px 1px rgba(0,0,0,0.16), 0 1px 1px rgba(0,0,0,0.23);
}

aside#container-aside ul {
  list-style: none;
  margin-left: 0;
  padding: 0;
}
aside#container-aside ul li {
  padding: 0.5em;
}

main {
  width: auto;
  min-height: 30em;
  display: default;
  position: relative;
  float: left;
  background-color: white;
  list-style: none;    
  padding: 1em;
  margin: 1em;
  box-shadow: 0 1px 1px rgba(0,0,0,0.16), 0 1px 1px rgba(0,0,0,0.23);
}

menu {
  padding-left: 0em;
}

input, textarea, select {
  font-size: 14px;
  font-family: ubuntu;
}

.hidden {
  display: none;
}

.panel {
  display: default;  
  margin: 0em;
  margin-bottom: 1em;
  padding: 0em;
  border: 0px solid silver;
  background-color: white;
}

.panel .panel-header {
  background-color: white;
  color:  #363F43;
  font-weight: normal;
  font-size: 1.3em;
  margin: 0em;
  padding: 0.5em;
  position: relative;
}

.panel .panel-body {  
  min-height: 5em;
  padding: 0.5em;
  margin-top: 0;
}

.panel .panel-body ul {
  padding-top: 0;
  margin-top: 0;
}

button {
  text-transform: uppercase;
  color: white;
  background-color: #0099FF;
  padding: 0.6em 1.5em 0.6em 1.5em;
  margin: 0.2em;
  border: 0px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
  font-weight: normal;
}

.button-primary {
  background-color: #0f9d58;  
}

.button-warning {
  background-color: #ff5252;
  color: white;
}

.button-small {
  font-size: xx-small;
  padding: 0.4em 1em 0.4em 1em;
  border: 0;
  vertical-align: middle;
}

.button-flat {
  color: #0099FF;
  background-color: transparent;
  border: 0;
  box-shadow: 0 0 0 0;
}

button:hover {
  cursor: pointer;
}

table {
  font-size: 1em;
}

table tbody tr td input {
  border: 0;
  border-bottom: 1px solid silver;
}

table tbody tr td input.type-double {
  width: 4.5em;
  text-align: right;    
}
table tbody tr td input.type-duration {
  width: 6em;
  text-align: center;
}
table tbody tr td input.type-time {
  width: 4.5em;
}

table .numeric {
  text-align: right;
}

em { 
  font-weight: bold; 
}

.selected {
  text-decoration: none;
  color: gray;
  font-style: italic;
}

.notification {
  margin: 0.5em;
  padding: 1em;
  background-color: light-green;
  border: 1px solid silver;
  font-weight: bold;
}
output {
  font-size: 1em;
}

a { 
  color: black;
  text-decoration: none;
}

div.days-list {
  list-style: none;
  font-size: small;
  display: inline;
}
div.days-list section.day {
  display: inline-block;  
  border: 0;
  margin: 0.2em;
  padding: 0.2em;
  width: 17em;
  height: 8em;
}
div.days-list section.day p {
  margin-bottom: 0.1em;
  margin-top: 0.1em;
}
div.days-list section.day h3 {
  font-size: 1em;
  background-color: transparent;
  font-weight: bold;  
  margin: 0;
  padding: 0.4em;
}
div.days-list section.day-work {
  background-color: #f5f5f5;
}
div.days-list section.day-nowork {
  background-color: #ffe6e6;
}
div.days-list section.day-easy {
  background-color: white;  
}
div.days-list section.day-workout p.training-name {
  font-weight: bold;
  color: red;
}
div.days-list section.today {
  border: 2px solid orange;
}
div.days-list section p {
  padding: 0.2em;
}
div.days-list section p.training-name {
  
}

div.days-list section.day button {
  float: right;
}

.invalid input {
  background-color: orange;
}

.menu-item-selected {
  background-color: #eeeeee;
}
